@import "./variables";

.banner {
  position: relative;
  min-height: 100px;
  background-color: $tertiaryColor;
  color: $secondaryColor;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: $largeTextFont;
  }
}
