@import "./variables";

.card-layout {
  display: flex;
  flex-wrap: wrap;
  background-color: $primaryColor;
  justify-content: center;

  img {
    @include maxSmallScreen {
      width: 100%;
    }
  }
}

.card {
  width: 330px;
  margin: 48px;

  @include maxMediumScreen {
    width: 100%;
    margin: $spacing;
  }

  .card-container {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px;
    width: 100%;
    font-size: $mediumFont;
    line-height: 1.5em;
    background-color: $primaryColorTwentyFive;
    color: $primaryColor;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 24px;

    @include maxMediumScreen {
      padding: $spacing;
    }
  }

  p {
    color: $secondaryColor;
    line-height: 1.5em;
    font-size: $xsFont;
  }
}
