@import "./variables";

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: $headerSpacing;
  width: 100%;
  background-image: url("../media/st-george-3.jpg");
  background-size: cover;


  .background-image {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: solid 2px $primaryColor;
    width: 80%;
    padding: 24px;
    flex-wrap: wrap;
    margin-top: $spacing;
    position: relative;
    color: $tertiaryColor;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;

    @include maxSmallScreen {
      width: 100%;
      padding: $spacing;
      margin-top: 0;
    }

    .input-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: $spacing;

      @include maxSmallScreen {
        padding: 0px;
      }

      label,
      input,
      textarea {
        margin: $spacing;
        width: 100%;

        @include maxSmallScreen {
          margin: 6px;
        }
      }

      input,
      textarea {
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;

        @include maxSmallScreen {
          padding: 4px 6px;
        }
      }

      input {
        height: 38px;
      }

      &:not(.message) {
        width: 50%;

        @include maxSmallScreen {
          width: 100%;
        }
      }

      &.message {
        width: 100%;
      }
    }
  }

  .message-sent {
    position: absolute;
    bottom: 0;
    padding: 24px;
    background-color: $primaryColorFifty;
    font-size: $smallFont;
    color: $secondaryColor;
  }
}
