@import "./variables";

.gradient-banner {
  height: 200px;
  background-color: $primaryColorTen;

  @include maxSmallScreen {
    height: 150px;
  }

  &.equal-height {
    height: 150px;
    .text-container,
    .gradient-one,
    .gradient-two {
      height: 33.33%;
    }
  }

  .text-container {
    display: flex;
    color: $tertiaryColor;
    height: 50%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: $smallFont;

    @include maxMediumScreen {
      height: 33.33%;

      p:nth-child(2),
      p:last-child {
        display: none;
      }
    }

    @include maxSmallScreen {
      font-size: $xsFont;
    }
  }

  .gradient-one,
  .gradient-two {
    height: 25%;
    background-color: $primaryColor;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include maxMediumScreen {
      height: 33.33%;
    }

    p {
      display: none;

      @include maxMediumScreen {
        display: block;
        color: $tertiaryColor;
        font-size: $smallFont;
      }

      @include maxSmallScreen {
        font-size: $xsFont;
      }
    }
  }

  .gradient-one {
    background-color: $primaryColorTwentyFive;
  }

  .gradient-two {
    background-color: $primaryColorFifty;
  }
}
