@import "./variables";

.header-container {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $headerSpacing;
  top: 0;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primaryColor;
  height: $headerSpacing;

  @include largeScreen {
    width: 75%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .logo-container {
    margin: $spacing;
    height: 48px;

    img {
      height: 100%;
    }
  }

  .hamburger-menu {
    margin: $spacing;

    > div {
      position: relative;
      background-color: $secondaryColor;
      height: 4px;
      width: 28px;
      margin: 4px;
      pointer-events: none;
      transition: all 500ms;
    }

    &.active {
      > div:first-child {
        width: 40px;
        transform: rotate(225deg);
        top: 4px;
      }

      > div:nth-child(2) {
        display: none;
      }

      > div:last-child {
        width: 40px;
        transform: rotate(-225deg);
        top: -4px;
      }
    }

    @include mediumScreen {
      display: none;
    }
  }

  .link-container {
    display: flex;
    position: absolute;
    overflow: hidden;
    flex-direction: column;
    margin-top: 16px;
    color: $secondaryColor;
    font-size: $smallMediumFont;
    align-items: flex-end;
    right: 0;
    transition: height 500ms;
    height: 0;

    @include maxMediumScreen {
      background-color: $primaryColorFifty;
    }

    a {
      margin: $spacing;

      @include mediumScreen {
        display: block;
      }
    }

    &.active {
      @include maxMediumScreen {
        height: 270px;
        display: flex;
        transition: height 500ms;
        margin-top: 20px;
      }
    }

    @include mediumScreen {
      position: relative;
      display: flex;
      flex-direction: row;
      margin: $spacing;
      height: initial;
    }
  }
}
