@import "./variables";

.header-container {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primaryColor;

  @include largeScreen {
    width: 75%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .logo-container {
    margin: $spacing;
    height: 48px;

    img {
      height: 100%;
    }
  }

  .hamburger-menu {
    margin: $spacing;
    > div {
      background-color: $secondaryColor;
      height: 4px;
      width: 28px;
      margin: 4px;
      pointer-events: none;
    }

    @include mediumScreen {
      display: none;
    }
  }

  .link-container {
    position: absolute;
    display: none;
    flex-direction: column;
    margin-top: $spacing;
    color: $secondaryColor;
    font-size: $largeTextFont;
    align-items: flex-end;
    right: 0;

    a {
      margin: $spacing;
    }

    &.active {
      display: flex;
    }

    @include mediumScreen {
      position: relative;
      display: flex;
      flex-direction: row;
      margin: $spacing;
    }
  }
}
