@import "./variables";

.landing-page {
  .split-section-variant {
    display: flex;

    .image-container {
      width: 50%;

      @include maxMediumScreen {
        display: none;
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        object-position: right;
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: $primaryColorFifty;
      color: $secondaryColor;
      overflow: hidden;
      width: 50%;
      justify-content: flex-end;

      @include maxMediumScreen {
        flex-direction: column-reverse;
        width: 100%;
      }

      h2 {
        margin: 48px 48px 24px 48px;
        font-size: $mediumFont;
        text-align: center;
      }

      p {
        margin: 24px 48px 48px 48px;
        font-size: $xsFont;
        text-align: center;
        line-height: 1.5em;
      }

      img {
        height: 50%;
        width: 100%;
        object-fit: fill;
      }
    }
  }

  .banner-container {
    display: flex;

    @include maxMediumScreen {
      flex-direction: column;
    }

    .banner-text-section {
      text-align: center;
      width: 50%;

      @include maxMediumScreen {
        width: 100%;
      }

      h2 {
        font-size: $mediumFont;
        line-height: 1.5em;
      }

      p {
        font-size: $xsFont;
        line-height: 1.5em;
      }

      .button-container {
        padding: 24px;
      }
    }

    .image-container {
      text-align: center;
      width: 50%;

      @include maxMediumScreen {
        width: 100%;
      }
    }
  }
}
