@import "./variables";

.landing-page {
  .gradient-banner {
    height: 200px;

    .text-container {
      display: flex;
      color: $tertiaryColor;
      height: 50%;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      font-size: $smallFont;
    }

    .gradient-one,
    .gradient-two {
      height: 25%;
      background-color: $primaryColor;
    }

    .gradient-one {
      opacity: 25%;
    }

    .gradient-two {
      opacity: 50%;
    }
  }

  .split-section-variant {
    display: flex;

    .image-container {
      width: 50%;

      img {
        object-fit: fill;
        height: 100%;
        width: 100%;
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: $primaryColorFifty;
      color: $secondaryColor;
      overflow: hidden;
      width: 50%;
      justify-content: flex-end;

      h2 {
        margin: 48px 48px 24px 48px;
        font-size: $mediumFont;
        text-align: center;
      }

      p {
        margin: 24px 48px 48px 48px;
        font-size: $xsFont;
        text-align: center;
        line-height: 1.5em;
      }

      img {
        height: 50%;
        width: 100%;
        object-fit: fill;
      }
    }
  }
}
