@import "./variables";

.nav-heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 500px;
  z-index: 0;
  -webkit-text-fill-color: $secondaryColor;

  h1 {
    width: 50%;
    position: relative;
    font-size: $mediumFont;
    z-index: 2;
    text-align: center;

    @include maxMediumScreen {
      margin-top: 96px;
    }
  }

  img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
