@import "./variables";

.services-page {
  .services-banner {
    display: flex;
    justify-content: center;

    .banner-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 700px;

      h2 {
        font-size: $mediumFont;
        text-align: center;
      }

      p {
        font-size: $xsFont;
        text-align: center;
      }

      h2,
      p {
        margin: $spacing;
      }
    }
  }

  .bottom-services-banner {
    font-size: $mediumFont;
    padding: 0 192px;

    @include maxMediumScreen {
        padding: 24px;
        font-size: $smallFont;
    }
  }
}
