@import "./variables";

.services-page {
  .banner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: $secondaryColor;
    width: 100%;

    h2 {
      font-size: $mediumLargeFont;
      text-align: center;
    }

    p {
      font-size: $smallFont;
      text-align: center;
    }

    @include maxSmallScreen {
      h2 {
        font-size: $mediumFont;
      }

      p {
        font-size: $xsFont;
      }
    }

    h2,
    p {
      margin: $spacing;
    }

    img {
        opacity: 50%;
    }
  }

  .bottom-services-banner {
    font-size: $mediumFont;
    padding: 0 192px;

    @include maxMediumScreen {
      padding: 24px;
      font-size: $smallFont;
    }
  }
}
