$primaryColor: #39b54a;
$secondaryColor: white;
$tertiaryColor: black;
$backgroundColor: $secondaryColor;
$textColor: $primaryColor;

$spacing: 12px;

$headerFont: 108px;
$subHeaderFont: 40px;
$largeTextFont: 30px;
$textFont: 18px;

$xlScreenPixel: 1239px;
$largeScreenPixel: 1023px;
$mediumScreenPixel: 700px;
$smallScreenPixel: 480px;

@mixin xlScreen {
  @media screen and (min-width: $xlScreenPixel) {
    @content;
  }
}

@mixin largeScreen {
  @media screen and (min-width: $largeScreenPixel) {
    @content;
  }
}

@mixin mediumScreen {
  @media screen and (min-width: $mediumScreenPixel) {
    @content;
  }
}

@mixin smallScreen {
  @media screen and (min-width: $smallScreenPixel) {
    @content;
  }
}

@mixin xsScreen {
  @media screen and (max-width: $smallScreenPixel) {
    @content;
  }
}
