$primaryColor: rgb(210, 135, 86);
$secondaryColor: white;
$tertiaryColor: rgb(20, 148, 199);
$backgroundColor: $secondaryColor;
$textColor: $primaryColor;

$primaryColorFifty: rgb(232, 196, 173);
$primaryColorTwentyFive: rgb(245, 231, 222);
$primaryColorTen: rgb(249, 241, 235);

$spacing: 12px;
$headerSpacing: 78px;

$headerFont: 108px;
$subHeaderFont: 40px;
$largeTextFont: 30px;
$textFont: 18px;

$headerfontsize: 74px;
$subheaderfontsize: 40px;

$xlFont: 108px;
$largeFont: 74px;
$mediumLargeFont: 50px;
$mediumFont: 40px;
$smallFont: 30px;
$smallMediumFont: 24px;
$xsFont: 18px;

$xlScreenPixel: 1239px;
$largeScreenPixel: 1023px;
$mediumScreenPixel: 750px;
$smallScreenPixel: 489px;

@mixin xlScreen {
  @media screen and (min-width: $xlScreenPixel) {
    @content;
  }
}

@mixin maxLargeScreen {
  @media screen and (max-width: $largeScreenPixel) {
    @content;
  }
}

@mixin largeScreen {
  @media screen and (min-width: $largeScreenPixel) {
    @content;
  }
}

@mixin mediumScreen {
  @media screen and (min-width: $mediumScreenPixel) {
    @content;
  }
}

@mixin maxMediumScreen {
  @media screen and (max-width: $mediumScreenPixel) {
    @content;
  }
}

@mixin smallScreen {
  @media screen and (min-width: $smallScreenPixel) {
    @content;
  }
}

@mixin maxSmallScreen {
  @media screen and (max-width: $smallScreenPixel) {
    @content;
  }
}

@mixin xsScreen {
  @media screen and (max-width: $smallScreenPixel) {
    @content;
  }
}
